/* a *not* minimalist set of CSS resets */
body{
  background-color: #000000;
  background: black;
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,h2,h3{
  color: blue;
}
p{
  color: blue;
  
}
/* The title */
#Title {
  border: 10px inset red;
  padding: -1000px;
  margin: 10px 10px 10px 20px;
  background: rgb(104, 1, 1);
  text-align: center;
  color:blue;
  text-shadow: 3px 4px rgb(0, 0, 0);
  font-family: monospace;
}
/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  max-height: 40px;
  max-width: 40px;
}

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333333;
    overflow: hidden;
    padding-top: 0em;
  }

/* Style the links inside the navigation bar */
.topnav a {
  float: inline-end;
  color: #000000;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(46, 109, 4);
  color: rgb(164, 14, 14);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3d065c;
  color: rgb(0, 0, 0);
}